<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882879629939-l0cek69093c6o51n1u52qftdjuhj39bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882879629939-l0cek69093c6o51n1u52qftdjuhj39bo</string>
	<key>API_KEY</key>
	<string>AIzaSyAVmGBMDSEfTTPt67ZXA8tPY05OnNeZ3Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>882879629939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myYF</string>
	<key>PROJECT_ID</key>
	<string>yoonique-friends</string>
	<key>STORAGE_BUCKET</key>
	<string>yoonique-friends.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882879629939:ios:242851521f0796e2e77806</string>
</dict>
</plist>